.Income,
.Outcome,
.Neutro {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  margin-right: 16px;
}
.Income::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #198754;
  border-radius: 200px;
  margin-right: 4px;
}
.Outcome::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #dc3545;
  border-radius: 200px;
  margin-right: 4px;
}
.Neutro::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #0d6efd;
  border-radius: 200px;
  margin-right: 4px;
}
.ChartTop {
  margin-bottom: 24px;
}
.ChartFilterContainer select[name="date"] {
  margin-right: 12px;
}
.ChartContainer {
  padding: 20px !important;
  border: 1px solid var(--border, #e6edff);
  border-radius: 8px;
}
select {
  background-color: #f3f7fe !important;
  border: none !important;
}
