.CardContainer {
  border-radius: 8px;
  border: 1px solid #e6edff;
}
.CountryName {
  font-size: 12px;
  color: var(--gray-600, #6c757d);
}
.TotalCard {
  font-size: 18px;
  font-weight: 600;
  color: #052c65;
}
.CardIcon img {
  border-radius: 50px;
}
