.LoginLContainer{
  background: var(--blue-500, #0D6EFD);
}
.LoginRContainer{
  background: linear-gradient(180deg, #0D6EFD0A 0%, rgba(13, 110, 253, 0.00) 100%);
}
.LoginFormContainer{
  border-radius: 20px;
  border: 1px solid #E6EDFF;
  background: #FFF;
  padding: 40px;
  width: 80%;
}
.LoginR{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 44px;
}
.LoginFormContainer h5{
  color: var(--blue-800, #052C65);
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 600
}
.LoginFormContainer h6{
  color: #6C7DA3;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  padding-bottom: 28px !important;
  margin-bottom: 28px !important;
  border-bottom: 1px solid #E6EDFF;
  
}
.PasswordContainer{
  position: relative;
}
.ViewPassword{
  position: absolute;
  display: flex;
  align-items: center;
  gap: 4px;
  top: 0;
  right: 12px;
  bottom: 0;
}
.ViewPassword::before{
  content: '';
}
.ViewPassword label{
  color: var(--primary-neutral-ligth-200);
  font-size: 10px;
  
}
.ViewPassword input{

}