.SideBarItem img{
  fill: #6C7DA3;
}
.SideBarCol{
  background-color: var(--primary-neutral-white);
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  padding: 20px 32px;
}
.AppContainer{
  background: linear-gradient(180deg, #0D6EFD0A 0%, rgba(13, 110, 253, 0.00) 100%);
}
.logo{
  padding-left: 0 !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: var(--primary-default-500) !important;
  background-color: #E7F1FF !important;
}
.nav-link{
  color: #6C7DA3 !important;
  padding: 8px 10px !important;
}
.nav-link svg{
  fill: #6C7DA3;
}
.nav-link.active svg{
  fill: var(--primary-default-500);
}