.BankName {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  color: var(--gray-600, #6c757d);
}
.BankAmount {
  color: var(--green-500, #052c65);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.BankImage {
  margin-right: 6px;
}
