:root {
  --primary-neutral-dark-900: #0a0818;
  --primary-neutral-dark-800: #100e1e;
  --primary-neutral-dark-700: #191625;
  --primary-neutral-dark-600: #22202c;
  --primary-neutral-default-500: #2e2c34;
  --primary-neutral-ligth-400: #7a7585;
  --primary-neutral-ligth-300: #b5b0c2;
  --primary-neutral-ligth-200: #e0dcea;
  --primary-neutral-ligth-100: #efedf4;
  --primary-neutral-white: #ffffff;

  --primary-dark-900: #002966;
  --primary-dark-800: #00398f;
  --primary-dark-700: #0049b8;
  --primary-dark-600: #005ae0;
  --primary-default-500: #0066ff;
  --primary-light-400: #3385ff;
  --primary-light-300: #5c9dff;
  --primary-light-200: #85b6ff;
  --primary-light-100: #adceff;
  --primary-white: #e6edff;

  --bs-blue-400: #3d8bfd;
}
@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}
*::-webkit-scrollbar {
  width: 3px; /* Tamaño del scroll en vertical */
  height: 8px; /* Ocultar scroll */
}
*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 8px;
}
body {
}
.WelcomeContainer h4 {
  color: var(--blue-800, #052c65);
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}
.Required {
  color: var(--theme-danger, #dc3545);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.tooltip {
  font-size: 12px;
  background-color: var(--primary-light-100);
  border-radius: 4px;
  padding: 8px 8px;
  position: relative;
}
.tooltip::after {
  content: ".";
  color: transparent;
  position: absolute !important;
  width: 8px;
  height: 8px;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: rotate(45deg);
  background-color: var(--primary-light-100);
}
h6 {
  margin-bottom: 0 !important;
}
.TableP {
  border-radius: 4px 4px 12px 12px !important;
  overflow: hidden !important;
}
.DownloadButton {
  border: none;
  background-color: transparent;
  color: var(--blue-500, #0d6efd);
  font-size: 13px;
  font-weight: 500;
}
.DownloadButton > span {
  margin-right: 6px;
}
.DownloadIcon span {
  background: var(--blue-100, #e7f1ff);
  padding: 8px;
  border-radius: 6px;
}
.ModalBodyTitle {
  color: var(--blue-800, #052c65);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
}
.ModalBodyContent {
  color: var(--body-text-body-color, #212529);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.ModalTopTitle {
  color: var(--blue-800, #052c65);
  /* Heading/H4 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}
.ModalTopSubTitle {
  color: var(--primary-neutral-ligth-400, #e0dcea);
  margin-top: 4px;
  text-wrap: balance;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
}
.ReportTypeTableStyle {
  padding: 2px 8px;
  border-radius: 4px;
  border: 1px solid;
}
.TableActionButtons {
  border-radius: 4px;
  border: 1px solid var(--gray-300, #dee2e6);
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
}
.TableActionButtonsDone {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  height: 35px;
  width: 35px;
  border-radius: 4px;
  border: 1px solid var(--green-200, #a3cfbb);
  background: var(--green-100, #d1e7dd);
}
.TableActionButtonsCancel {
  display: flex;
  padding: 8px;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 4px;
  border: 1px solid var(--red-200, #f1aeb5);
  background: var(--red-100, #f8d7da);
}
.FormContainer select {
  background-color: white !important;
  border: 1px solid var(--gray-400, #ced4da) !important;
}
.UserSearch {
  background-color: var(--primary-neutral-white);
  position: absolute;
  max-height: 20vh;

  border-radius: 4px 4px;
}
.UserSearch input {
  display: none;
}
.UserSearch div {
  padding: 8px;
  border-bottom: 1px solid var(--primary-white);
  display: flex;
  flex-direction: column;
}
.UserSearch label {
  display: flex;
  flex-direction: column;
}
.SearchResultName {
  color: var(--primary-neutral-dark-900);
}
.SearchResultDescription {
  color: var(--primary-whit, #6c7da3);
  font-size: 12px;
}
thead th {
  color: #052c65 !important;
}
.AlertContainer {
  position: fixed !important;
  top: 20px;
  right: 10px;
}

/*Svg Styles*/

.miniSvg path {
  fill: var(--bs-blue-400);
}
